[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec="pybr" %f
Name=PyBookReader
Icon=accessories-dictionary
Comment=Custom definition for "pybr"
