[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Putty
Name[tr]=Putty
GenericName=SSH/Telnet Client
GenericName[tr]=SSH/Telnet İstemcisi
Comment=A highly configurable ssh/telnet/serial console program
Comment[tr]=Yüksek seviyede ayarlanabilir ssh/telnet/seri port istemcisi
Icon=putty
Exec=putty
Terminal=false
StartupNotify=false
Categories=Application;Network;Remote