[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=notifyd
Exec=/usr/lib/xfce4/notifyd/xfce4-notifyd
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

